@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-emerald-burnt: var(--emerald-burnt);
  --color-cyan-glowing: var(--cyan-glowing);
  --color-glass: var(--glass-bg);
  --color-glass-border: var(--glass-border);
}

:root {
  --background: #F5F6F8;
  --foreground: #0B0E14;
  --emerald-burnt: #135c43;
  --cyan-glowing: #008f9e;
  --glass-bg: rgba(255, 255, 255, 0.4);
  --glass-border: rgba(0, 0, 0, 0.1);
}

.dark {
  --background: #09090b;
  /* Deep slate black */
  --foreground: #F5F6F8;
  --emerald-burnt: #23865c;
  --cyan-glowing: #00E5FF;
  --glass-bg: rgba(20, 25, 30, 0.4);
  --glass-border: rgba(255, 255, 255, 0.05);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@utility glass {
  background: var(--glass-bg);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid var(--glass-border);
}